body {
  background-color: rgb(36, 36, 36);
  margin: 0px;
}

.green {
  color: #00C122;
}

.box {
  border: 2px solid;
  border-color: #00C122;
  width: 50vw;
  border-radius: 10px;
  margin: auto;
  text-align: center;
  margin-top: 40px;
  padding: 15px;
}

.log-in-button {
  cursor: pointer;
  text-decoration: underline;
}

.log-out-button {
  cursor: pointer;
}

.log-out-button:hover {
  background-color: rgb(75, 75, 75);
}

.page-content {
  margin-left: 20px;
}

.header {
  max-width: 100%;
  margin-top: 0;
  padding: 10px;
  background-color: rgb(20, 20, 20);
}

.header-profile-link {
  float: right;
}

.profile-picture {
  height: 25px;
  border-radius: 15px;
}

.profile-picture:hover {
  cursor: pointer;
}

.drop-down-menu-box {
  border: 1.5px solid;
  border-color: #00C122;
  width: 150px;
  height: 50px;
  float: right;
  margin: 15px;
  border-radius: 7px;
  padding: 7px;
  background-color: rgb(20, 20, 20);
  position: absolute;
  right: 0;
}

.game-screen-border {
  border: 2px solid;
  border-color: #00C122;
  border-radius: 3vw;
  height: 40vw;
  width: 70vw;
  margin: auto;
}
